.search-bar {
	margin-left: 20px;
	width: 100%;
}
.search-bar input {
	padding: 5px;
	width: min(60%, 500px);
	font-size: 22px;
	padding-left: 35px;
	background-image: url('../../static/images/search.svg');
	background-repeat: no-repeat;
	background-position: 0% 5%;
	background-size: 30px;
}
@media screen and (max-width: 576px) {
	.search-bar {
		margin-left: 10px;
	}
	.search-bar input {
		width: 100%;
		font-size: 18px;
		padding-left: 28px;
	}
}
