.Header {
	background-color: #0064eb;
	width: 100%;
	min-height: 72px;
	padding: 0 40px;
	display: flex;
	align-items: center;
}
@media screen and (max-width: 480px) {
	.Header {
		padding: 0 15px;
	}
}
